
<div id="left-column">
  <div id="scenario-stats">
    <div id="scenario-timer">
        <div id = "countdown"></div>
    </div>
    <div id="scenario-points">
      <div class="scenario-team-score" style="color: #990000;">
        <span class="score"><%= @play.teams.first.clues.size -%></span><br>
        <span class="score-label">Clues</span>
      </div>
      <div class="scenario-team-score" style="color: #000099;">
        <span class="score"><%= @play.teams.last.clues.size -%></span><br>
        <span class="score-label">Clues</span>
      </div>
    </div>
    <div id="scenario-territory">
      <div class="scenario-team-territory" style="color: #990000;">
        <span class="score"><%= @play.teams.first.area -%></span><br>
        <span class="score-label">Points</span>
      </div>
      <div class="scenario-team-territory" style="color: #000099;">
        <span class="score"><%= @play.teams.last.area -%></span><br>
        <span class="score-label">Points</span>
      </div>
    </div>
  </div>
  <div id="scenario-facts">
    <p><b><%=h @play.scenario.title %></b></p>
    <p>
      <%=h @play.scenario.description %>
    </p>
    <p>
      <b>Starting Location:</b>
      <%=h @play.scenario.address %>
    </p>

    
  </div>
</div>
<div id="right-column">
  <div id="map_canvas"></div>
  
  <script type="text/javascript">
    if ( <%= @play.seconds_left -%> > 0 ) {
      $('#countdown').countdown({until: <%= @play.seconds_left %>, format: 'hms'});
    } else {
      $('#countdown').html("<p id='game_over'>Game Over!</p>");
    }
    // initialize_google_maps_with_territory_points('<%= @scenario.address -%>',<%= @play.teams.first.clue_points.to_json -%>,<%= @play.teams.last.clue_points.to_json -%>);
    initialize_google_maps_with_territory_points_and_polygons('<%= @scenario.address -%>',<%= @play.teams.first.clue_points.to_json -%>,<%= @play.teams.last.clue_points.to_json -%>,<%= @play.teams.first.perimeter_as_arrays.to_json -%>,<%= @play.teams.last.perimeter_as_arrays.to_json -%>);    
  </script>
</div>
