
<div id="left-column">
  <div id="scenario-title">
    <%=h @play.scenario.title %>
  </div>
  <div id="scenario-stats">
    <div id="scenario-timer">
      
      <p>
        <b>Time left:</b>

        <div id = "countdown"></div>



      </p>
    </div>
    <div id="scenario-points">
    </div>
  </div>
  <div id="scenario-facts">
    <p>
      <b>Scenario:</b>
      <%=h @play.scenario.description %>
    </p>
    <p>
      <b>Starting Address:</b>
      <%=h @play.scenario.address %>
    </p>
    <p>
      <b>Duration:</b>
      <%=h @play.duration %>
    </p>

    <p>
      <b>Winning team:</b>
      <%=h @play.winning_team_id %>
    </p>

    <p>
      <b>Start time:</b>
      <%=h @play.start_time %>
    </p>
    
  </div>
</div>
<div id="right-column">
  <div id="map_canvas" style = "width: 600px; height: 400px"></div>
  
  <script type="text/javascript">
    $('#countdown').countdown({until: <%= @play.seconds_left %>, format: 'hms'});
    initialize_google_maps_with_territory_points('<%= @scenario.address -%>',<%= @play.teams.first.clue_points.to_json -%>,<%= @play.teams.last.clue_points.to_json -%>);
  </script>
</div>
