
  <script type="text/javascript"
  src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= ::GOOGLE_API_KEY %>" >
  </script>


  <div id="map_canvas" style = "width: 500px; height: 300px"></div>

  <script type="text/javascript">

    var geocoder = new GClientGeocoder();

    function initialize_google_maps() {

      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.addControl(new GSmallMapControl());
        geocoder.getLatLng(
          "<%= @scenario.address -%>",
          function(point) {
            if (!point) {
              alert("<%= @scenario.address -%>" + " not found");
            } else {
              map.setCenter(point, 13);
              var marker = new GMarker(point);
              map.addOverlay(marker);
              marker.openInfoWindowHtml(@scenario.address);
            }
          }
        ); 
      }
    }
  </script>

  

<p>
  <b>Title:</b>
  <%=h @scenario.title %>
</p>

<p>
  <b>Starting Address:</b>
  <%=h @scenario.address %>
</p>


<p>
  <b>Duration:</b>
  <%=h @scenario.duration %>
</p>

<%= link_to 'Start Play!', plays_path(:scenario_id => @scenario.id), :method => "post", :action => "create", :controller => "plays" %>
<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>


<p><b>TODO:</b> Perhaps show map of game starting location?  Make this page cool -- perhaps scenarios need a teaser?</p>