
<div id="left-column">
  <div id="game-intro">
    <p><b><%=h @scenario.title %></b></p>
    <p>
      <%=h @scenario.description %>
    </p>
    <p>
      <b>Starting Location:</b>
      <%=h @scenario.address %>
    </p>
    <p>
      <b>Time Limit:</b>
      <%=h @scenario.duration.to_s + " minutes" -%>
    </p>
  </div>
  <div id="scenario-facts">
    <div id="scenario-start">
        <%= link_to 'Start Play!', plays_path(:scenario_id => @scenario.id), :method => "post", :action => "create", :controller => "plays" %>
    </div>
  </div>

</div>
<div id="right-column">
  <div id="map_canvas"></div>
  
  <script type="text/javascript">
    initialize_google_maps('<%= @scenario.address.to_s -%>');
  </script>

</div>




<div id="map_canvas" style = "width: 500px; height: 300px"></div>