<h1>Editing clue</h1>

<% form_for([@team, @clue], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </p>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </p>
  <p>
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@team, @clue] %> |
<%= link_to 'Back', team_clues_path %>