<h1>Listing clues for <%= @team.name %></h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Long</th>
    <th>Caption</th>
    <th>Team</th>
    <th>Photo</th>
  </tr>

<% @clues.each do |clue| %>
  <tr>
    <td><%=h clue.lat %></td>
    <td><%=h clue.long %></td>
    <td><%=h clue.caption %></td>
    <td><%=h clue.team_id %></td>
    <td>
      <% if clue.photo.exists? then %>
      <p><%= image_tag clue.photo.url(:small) %></p>
      <% else %>
      <p> [No Photo Available]. </p>
      <% end %>
    <td><%= link_to 'Show', team_clue_path(@team, clue) %></td>
    <td><%= link_to 'Edit', edit_team_clue_path(@team, clue) %></td>
    <td><%= link_to 'Destroy', [@team, clue], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New clue', new_team_clue_path %>